* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

nav{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    /* align-items: center; */
}

nav .navigation{
    display: flex;
}

nav .navigation img{
    width: 40%;
    margin-inline: 11px;
}

nav .navigation h4{
    margin-inline: 11px;
    margin-top: 4px;
}

nav h4{
    margin-top: 13px;
    margin-inline: 21px
}

nav h4:hover{
    cursor: pointer;
    margin-top: -0.5px;
}

nav img{
    width: 3%;
    margin-right: 70px;
}



/*------------- Creating new Nav Bar ----------------*/

.navbar{
   display: flex;
   justify-content: center;
   background-color: black;
   color: white;
   text-align: center;
}

.navbar h3{
    padding: 28px;
    font-size: 15px;
}

.navbar button {
margin-top: 12px;
    background-color: red;
    color: white;
    padding: 0 40px;
    font-size: 13px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    height: 50px;
}

.navbar button:hover{
    background-color: rgb(240, 84, 84);
}


/*----------- Welcome Bar  -----------*/
.welcome{
display: flex;
justify-content: center;
align-items: center;
background-color: rgb(244, 238, 231);

}

.welcome img{
    width: 4%;
    margin-inline: 28px;
    padding: 27px 0 ;
}

/* main KFC PICTURE */
.main img{
    width: 100%;
}

/*--------- creating different card --------*/

h2{
    margin-left: 36px;
    padding: 11px;
    margin-top: 10px;
    font-size: 35px;
}
.card{
    display: flex;
    justify-content: center;
    /* justify-content: space-around; */
    text-align: center;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
}

.card .crd{
    padding: 20px;
}

.card .crd h3{
    font-size: 20px;
    padding-top: 20px;
}

.card .crd img{
    width: 250px;

}

/*-------------- second ------------*/
.second{
    display: flex;
    justify-content: space-between;
    padding: 0px;
    background-color: red;
    padding-left: 40px;
}

.second .chotu{
    margin-top: 45px;
    margin-right: 100px;
    cursor: pointer;
}


 /*------------- scard --------------*/
 .scard{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: red;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;

 }

 .scard .scrd img{
    width: 75%;
    margin-top: 30px;
    margin-left:-25px ;
 }

 .scrd .inner{
    width: 360px;
    height: 45px;
    background-color: white;
    padding-bottom: 130px;
    margin-left: 46px;
    margin-bottom: 20px;
 }

 .scrd .inner h3{
    color: red;
    font-size: 25px;
 }

 .scrd .inner button{
    border-radius: 30px;
    background-color: transparent;
    padding: 15px 20px;
    margin: 10px 0;
 }
   
 .scrd .inner button:hover{
    background-color: black;
    cursor: pointer;
    color: white;  
 }

 .scard .scrd .lst{
    width: 360px;
    margin-left: 45px;
}



 /*------------ footer --------------*/
footer{
    width: 100%;
    position: relative;
    bottom: 0;
    background-color: black;
    padding: 100px 0 30px;
    font-size: 13px;
    line-height: 20px;
}

.row{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.col{
    flex-basis: 20%;
    padding: 10px;
    color: white;
}

.form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom:50px ;
}

form .fa-regular{
    font-size: 18px;
    margin-right: 10px;
}

form input{
    width:100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
}
 
form button{
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}

form button .fa-solid{
    font-size: 16px;
    color: #ccc;
}

 .social{
    margin: 5px;
    width: 70px;
}

.copyright {
    margin-top: 40px;
    color: white;
    text-align: center;
    font-size: 20px;   
}